.prim-ctn {
    width: 100%;
    background-color: $vph-blue;
    height: 530px;
}

.carousel {
    width: 1200px;
    height: 529px;
    display: flex;
    position: absolute;
    top: 215px; 
    left: 0; 
    right: 0; 

    .carousel-img {
        height: 529px;
        width: 820px;
        overflow: hidden;
    }

    .carousel-conts {
        
        width: 380px;
        height: 529px;
        background-color: $vph-dark-blue;

        .carousel-conts-txt {
            margin: 79px auto 0px;
            width: 328px;
            height: 262px;

            .quote-1{
                
                transform: rotate(180deg);
            }

            .quote-2{
                margin-left: 285px;
            }
        }

        p:nth-of-type(2) {
            font-weight: bold;
        }
        
        p {
            color: white;
        }


    }
}