//contact section at top of page

.contact {
    
    
    width: 100%;
    height: 40px;
    background-color: rgb(221, 221, 221);
    
    
    
    .contact-conts {
        width: 1200px;
        justify-content: flex-end;
        align-items: center;
        display: flex;
    }

    a {  
        font-size: 16px;
        color: $vph-dark-blue;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
    }

    a:first-of-type {
        margin-right: 20px;
    }
}

//header and navigation

header {
    height: 135px;
    width: 100%;

    .header-conts {
        
        width: 1200px;
        height:135px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        img {

            width: 380px;
            
        }

        a {

            text-decoration: none;
            font-size: 14px;
            
        }

    }
}

