.btn {
    width: 175px;
    height: 50px;
    border-radius: 30px;
    border: none;
    text-align: left;
    padding-left: 30px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
}