.cntct-frm {
    height: 561px;
    width: 100%;
    background-color: white;
    margin-top: 50px;

    h4 {
        color: $vph-blue;
        font-size: 30px;
        margin-bottom: 50px;
    }

    .cntct-frm-conts{
        width: 1200px;

        .top-form{
            display: flex;
        }

        .bottom-form {
            display:flex;
        }

        .input{
            height: 48px;
            width: 585px;
            margin-bottom: 50px;
        }

        .input:focus {
            border: black;
        }
        
        label{
            width: 100px;
            margin: 10px -20px 0px 2px;
        }

        #message {
            height: 120px;
            width: 100%;
            margin-bottom: 50px;
            resize: none;
        }

    }
}